# alias cp="cp -i"                                                # Confirm before overwriting something
alias df='df -h'                                                # Human-readable sizes
alias free='free -m'                                            # Show sizes in MB
alias gitu='git add . && git commit && git push'


PATH=/snap/bin/:$PATH

alias ni3='nano ~/.config/i3/config'
alias nxd='nano ~/.Xdefaults'
alias nxr='nano ~/.Xresources'
alias ninit='nano ~/.xinitrc'

alias cp='cp -i -r'
alias scp='scp -r'
alias rm='rm -r'
alias mkdir='mkdir -p'

alias ls='ls -F --color=auto'
alias la='ls -A --color=auto'
alias ll='ls -l --color=auto -h'
alias lla='ll -A --color=auto -h'
alias grep='grep --colour=auto'
